<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shopingtime</a>
    
  </div>
</nav>
<div class="content">
  <div class="sidepanel">
    
    <div class="sidenav">
      <button (click)="homepage()" class="btn btn-outline-dark">Home </button>
      <button (click)="gotoproducts()" class="btn btn-outline-dark">Products </button>
      <button (click)="homepage()" class="btn btn-outline-dark">About </button>
      
    </div>

  </div>
 <div class="main">
  <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Flagship_100_Blog_2880x1800_Apparel.max-1000x1000.jpg"height="100%"width="100%">
   <div class="container-fluid">
     <div class="row">
       <div class="col">
         
       </div>
     </div>
   </div>
 </div>

</div>
<footer>
  <pre>Copyright 2021</pre>
   </footer>
</body>

</html>